footer {
    background-color: $blackgrey_color;
 .nav-footer{
    display: flex;
    align-items: flex-end;
    padding: 50px 0px;
    justify-content: space-between;
    
    &_left {
        display: flex;
        align-items: flex-start;
        
    &_logo {
            display: flex;
            align-items: center;
            padding: 0px 20px;
        
        }
        .logo img {
            width: 20px;
                animation-name: rot;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                
            }
            @keyframes rot {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
         
        
    }
    &_left_logo__heading{
        font-family: $source_font;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 16px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: $white_color;
padding-left: 10px;
    }
    &_left_address{
        padding: 0px 20px;
        font-family: $source_font;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
transition: 0.3s;
cursor: pointer;

a{
color: $grey2;
}
&:hover {
    transform: scale(1.1);
    filter: grayscale(0)
}

    }
    &_right {
        font-family: $source_font;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: $grey2;
    }
}
}