@media screen and (max-width:768px) and (min-width:480px){
    .nav-bar {
       .toggle {
            width: 30px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            z-index: 10;
            cursor: pointer;

            .bar {
                width: 100%;
                height: 3px;
                border-radius: 3px;
                background-color: $white_color;
            }
       }

       input[type=checkbox]:checked ~ .nav .nav__menu {
        display: block;
       }

        .nav-menu {
            display: none;
            position: absolute;
            background-color: gray;
            right: 0;
            top: 0;
            padding: 50px 10px;
            height: 100vh;
            &-item{
                padding: 5px;
                &__stories{
                    padding: 10px;
                }
            }
            #about{
                padding: 5px;
            }
            &-item__contact{
                padding: 5px;
            }

    }
}
}