.section_2 {
    background-color: $white_color;

}
.mainpage_2 {
    padding: 60px 0px;
    .h1{
        font-family: $oswald_font;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: $blackgrey_color;

    }
    .h3{
        font-family: $source_font;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-align: center;
color: $blackgr;
padding: 20px;
    }

&_text {
    display: flex;
    p{
        font-family: $source_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align:left;
        color: $blackgr;
        padding: 50px;
    }
}
}
    .read{
        font-family: $oswald_font;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;
padding: 40px;
transition: 0.3s;
cursor: pointer;
&:hover {
    transform: scale(1.1) ;
    filter: grayscale(0)
}

.read2 {
    border-radius: 30px;
    background-color: $blue_color;
    color: $white_color;
    width: 115px ;
    height: 36px;
    border: 0;
}
    }


