.section_3 {
    background-image: url(../assets/13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .mainpage_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0px;

    }
    .h1 {
        font-family: $oswald_font;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: $white_color;
padding: 30px;
// margin-bottom: 40px;
    }
.play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: $blue_color;
    transition: 0.3s;
    cursor: pointer;

    img {
        transform: translateX(5px);
    }
    &:hover {
        transform: scale(1.1) rotate(360deg);
        filter: grayscale(0);
   }


}

    .h3{
        font-family: $source_font;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-align: center;
color: $white_color;
// padding: 90px;
margin-top: 30px;
    }
}